/* ### Primary

- Yellow: hsl(47, 88%, 63%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 50%)
- Black: hsl(0, 0%, 7%) */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Figtree";
  src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf),
    url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "figtree";
  font-weight: 500;
}

.card {
  text-align: left;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border: 0.5px solid hsl(0, 0%, 7%);
  padding: 25px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  box-shadow: 5px 5px hsl(0, 0%, 7%);
  .img img {
    border-radius: 15px;
    width: 100%;
  }
  .tag {
    display: inline-block;
    font-weight: 800;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    padding: 5px;
  }
  .main h1 {
    font-weight: 800;
    font-size: x-large;
  }
  .main p {
    color: hsl(0, 0%, 50%);
  }
}

.creator {
  margin-bottom: 20px;
  .creator-img {
    display: inline;
  }
  h2 {
    display: inline;
    font-size: large;
    font-weight: 800;
    margin-left: 25px;
  }
}
